.search {

}

.hide {
    display: none;
}

.city-list {
    list-style-type: none;
    max-height: 300px;
    overflow: overlay;
    &__item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border: 1px solid $c-dark;
        padding: 10px;
        align-items: center;
    }
}

.rate {
    &__wrapper {
        margin-top: 50px;
    }
    &__head {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border: 1px solid $c-dark;
        padding: 10px;
        align-items: center;
    }
    &__def {
        display: flex;
        flex-direction: column;
    }
    &__input {
        max-width: 100px;
        margin-right: 20px;
        margin-left: 20px;
    }
    &-list {
        &__block {
            display: flex;
            align-items: center;

        }
        &__item {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            border: 1px solid $c-dark;
            padding: 10px;
            align-items: center;
            :nth-child(2) {
                flex-direction: column;
            }
        }
    }
}