<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=600">
    <!-- Заголовок -->
    <title>На сайте #SERVER_NAME# произошла ошибка при оплате </title>
    <style>
        .link {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 16px;
            text-decoration: underline;
            color: #EF6158;
            display: inline-block;
        }

        .link_lg {
            font-family: Arial, sans-serif;
            font-size: 18px;
            line-height: 25px;
            text-decoration: underline;
            color: #EF6158;
        }

        .link_small {
            color: #EF6158;
            font-family: Arial, sans-serif;
            font-size: 14px;
            text-decoration: underline;
            line-height: 14px;
        }

        .label {
            font-family: 'Arial', sans-serif;
            font-size: 13px;
            color: #A0A0A0;
            padding-bottom: 5px;
        }

        .socials-img {
            width: 30px;
            height: 30px;
            border: none;
        }

        .btn {
            border: 0 solid #EF6158;
            color: #fff;
            display: inline-block;
            padding: 12px 20px;
            text-decoration: none;
        }

        .prod-price {
            color: #2D2D2D;
            padding: 0;
            margin: 0;
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
        }

        .prod-article {
            color: #B5B5B5;
            padding: 0 0 3px;
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: 13px;
        }

        .prod-quantity {
            color: #A0A0A0;
            padding: 0;
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: 15px;
            line-height: 15px;
        }

        .text {
            font-family: Arial, sans-serif;
            font-size: 18px;
            color: #2D2D2D;
        }

        .title {
            padding: 0;
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: 30px;
            line-height: 1.2;
            font-weight: bold;
            color: #2D2D2D;
        }

        .text-min {
            font-size: 14px;
            line-height: 20px;
            font-family: Arial, sans-serif;
            color: #2d2d2d;
        }

        .footer-note {
            font-size: 13px;
            line-height: 130%;
            color: #A0A0A0;
        }
    </style>
</head>
<body style="margin: 0; padding: 0; min-width: 600px; background-color: white; max-width: 100%;">
<table cellpadding="0" cellspacing="0"
       style="width: 100%; text-align: center; margin: 0; background-color: #F5F5F5; padding: 20px; min-width: 600px;">
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0"
                   style="width: 600px; margin: 0 auto; padding: 30px 30px 25px; background-color: white;">
                <tr>
                    <td align="left" style="text-align: left;">
                        <!--Header-->
                        <table cellpadding="0" cellspacing="0"
                               style="width: 100%; margin: 0 auto; padding: 20px 0;background-color: #F5F5F5;">
                            <tr>
                                <td align="center">
                                    <img height="45" src="/assets/images/logo-email.png" alt="" border="0"
                                         style="display:inline;">
                                </td>
                            </tr>
                        </table>
                        <!-- Заголовок, текст к заголовку-->
                        <table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0 auto;">
                            <!-- Заголовок -->
                            <tr>
                                <td style="padding:30px 0 20px;margin:0;">
                                    <div style="padding:0 0 10px; margin: 0;line-height: 1.2; font-weight: bold;"
                                         class="title">Здравствуйте!
                                    </div>
                                    <div style="color: #5C9F05; padding:0 0 5px;font-weight: 500; font-size: 18px">
                                        Оплата прошла успешно
                                    </div>
                                    <div style="color: #000;font-weight: 500; font-size: 18px;">Заказ № #NUMBER#</div>
                                    <div style="padding:10px 0 0; margin: 0;" class="text">Спасибо за оплату заказа на
                                        сайте <a href="#SERVER_NAME#"><span class="link">#SITE_NAME#</span></a>, мы
                                        позвоним вам для уточнения деталей в ближайшее время
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- ORDER -->
                        <table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0 auto;">
                            <!-- Заголовок -->
                            <tr>
                                <td style="padding:0 0 15px;margin:0;">
                                    <div style="padding:0; margin: 0;font-family: Arial, sans-serif;font-size: 18px; line-height: 1.2; font-weight: bold; color: #2D2D2D;">
                                        Детали заказа
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: middle; margin: 0 auto; padding: 0; width: 100%; background: #F5F5F5; ">
                            <tr>
                                <td style="padding: 20px 20px 5px;">
                                    <table style="border-collapse: collapse; border-spacing: 0; vertical-align: middle; margin: 0 auto;width: 100%;">
                                        <tr>
                                            <td style="width: 80px; padding-right: 15px;">
                                                <img alt="" src='#PROD_IMG#' width="80">
                                            </td>
                                            <td valign="top" width="60%" style="width:60%">
                                                <div class="prod-article">Артикул: #PROD_ARTICLE#</div>
                                                <a href="#PROD_URL#" class="link link_small">#PROD_TITLE#</a>
                                            </td>
                                            <td>
                                                <div class="prod-price">#PROD_PRICE# руб</div>
                                                <div class="prod-quantity">#PROD_QUANTITY# #PROD_UNIT#</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="15" bgcolor="#F5F5F5"
                                                style="height:15px;background-color:#F5F5F5!important;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0 auto;">
                            <!-- Заголовок -->
                            <tr>
                                <td style="padding:15px 0 35px;margin:0;">
                                    <div style="padding:0; margin: 0;text-align: right; font-family: Arial, sans-serif;font-size: 14px; line-height: 1.2; color: #2D2D2D;">
                                        Итого, #TOTAL_QUANTUTY# товара: <span
                                            style="font-size:25px; font-weight: bold;">#TOTAL_PRICE# руб</span></div>
                                </td>
                            </tr>
                        </table>
                        <!--Способ заказа -->
                        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: middle; margin: 0 auto; padding: 0; width: 100%;">
                            <tr>
                                <td style="padding-bottom: 15px;">
                                    <table style="border-collapse: collapse; border-spacing: 0; vertical-align: middle; margin: 0 auto;background: #F5F5F5; width: 100%;">
                                        <tr valign="top">
                                            <td style="padding: 20px 25px 20px 20px; width: 50px">
                                                <img alt="" src='/assets/images/email-icons/address.png' width='40'
                                                     style="border-radius: 50%;">
                                            </td>
                                            <td style="padding:20px 0;">
                                                <div style="color: #2D2D2D;padding: 0 0 5px;margin: 0;font-family: Arial, sans-serif;font-weight: bold;font-size: 18px;">
                                                    Адрес доставки
                                                </div>
                                                <div style="color: #2D2D2D;padding: 0;margin: 0;font-family: Arial, sans-serif;font-size: 14px;">
                                                    #ADDRESS#
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-bottom: 15px;">
                                    <table style="border-collapse: collapse; border-spacing: 0; vertical-align: middle; margin: 0 auto;background: #F5F5F5; width: 100%;">
                                        <tr valign="top">
                                            <td style="padding: 20px 25px 20px 20px; width: 50px">
                                                <img alt="" src='/assets/images/email-icons/type.png' width='40'>
                                            </td>
                                            <td style="padding:20px 0;">
                                                <div style="color: #2D2D2D;padding: 0 0 5px;margin: 0;font-family: Arial, sans-serif;font-weight: bold;font-size: 18px;">
                                                    Cпособ доставки
                                                </div>
                                                <div style="color: #2D2D2D;padding: 0;margin: 0;font-family: Arial, sans-serif;font-size: 14px;">
                                                    #DELIVERY_TYPE#
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 15px;">
                                    <table style="border-collapse: collapse; border-spacing: 0; vertical-align: middle; margin: 0 auto;background: #F5F5F5; width: 100%;">
                                        <tr valign="top">
                                            <td style="padding: 20px 25px 20px 20px; width: 50px">
                                                <img alt="" src='/assets/images/email-icons/bill.png' width='40'>
                                            </td>
                                            <td style="padding:20px 0;">
                                                <div style="color: #2D2D2D;padding: 0 0 5px;margin: 0;font-family: Arial, sans-serif;font-weight: bold;font-size: 18px;">
                                                    Статус заказа
                                                </div>
                                                <div style="color: #2D2D2D;padding: 0;margin: 0;font-family: Arial, sans-serif;font-size: 14px;">
                                                    #STATUS#
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td height="30" bgcolor="#F5F5F5"
                                    style="height:30px;padding:0;background-color:#F5F5F5!important;"></td>
                            </tr>
                        </table>
                        <!-- Контакты -->
                        <table cellpadding="0" cellspacing="0"
                               style="width: 100%; margin: 0 auto; padding:0;background-color: #F5F5F5;">
                            <tr>
                                <td height="30" bgcolor="#F5F5F5"
                                    style="height:30px;background-color:#F5F5F5!important;"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div class="label">Телефон</div>
                                    <p style=" padding: 0 0 5px;margin: 0;">
                                        <a href="tel:#MAIN_PHONE#" class="link"><b>#MAIN_PHONE#</b></a>
                                    </p>
                                    <p style=" padding: 0 0 5px;margin: 0;">
                                        <a href="tel:#MAIN_PHONE_SEC#" class="link"><b>#MAIN_PHONE_SEC#</b></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="15" bgcolor="#F5F5F5"
                                    style="height:15px;background-color:#F5F5F5!important;"></td>
                            </tr>
                        </table>

                        <table cellpadding="0" cellspacing="0"
                               style="width: 100%; margin: 0 auto; padding:0;background-color: #F5F5F5;">
                            <tr>
                                <td align="center">
                                    <div class="label">E-mail</div>
                                    <p style=" padding: 0 0 5px;margin: 0;">
                                        <a href="mailto:#MAIN_EMAIL#" class="link"><b>#MAIN_EMAIL#</b></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="30" bgcolor="#F5F5F5"
                                    style="height:30px;background-color:#F5F5F5!important;"></td>
                            </tr>
                        </table>
                        <!-- Соц сети -->
                        <table cellpadding="0" cellspacing="0" align="center"
                               style="width: 100%; margin: 0 auto; padding:5px 20px 35px;background-color: #F5F5F5;">
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" align="center"
                                           style="width: auto; margin: 0 auto; padding:0;background-color: #F5F5F5;">
                                        <tr align="middle">
                                            <th style="padding-left: 8px; padding-right: 8px;">
                                                <span><a href="{$contacts->link_vk}" target="_blank"
                                                         style="display: inline-block;"><img
                                                        src="{$baseUrl}assets/images/emails/vk.png" alt=""
                                                        style="width: 30px; height: 30px; border: none;"></a></span>
                                            </th>
                                            <th style="padding-left: 8px; padding-right: 8px;">
                                                <span><a href="{$contacts->link_fb}" target="_blank"
                                                         style="display: inline-block;"><img
                                                        src="{$baseUrl}assets/images/emails/fb.png" alt=""
                                                        style="width: 30px; height: 30px; border: none;"></a></span>
                                            </th>
                                            <th style="padding-left: 8px; padding-right: 8px;">
                                                <span><a href="{$contacts->link_insta}" target="_blank"
                                                         style="display: inline-block;"><img
                                                        src="{$baseUrl}assets/images/emails/insta.png" alt=""
                                                        style="width: 30px; height: 30px; border: none;"></a></span>
                                            </th>
                                            <th style="padding-left: 8px; padding-right: 8px;">
                                                <span><a href="{$contacts->link_youtube}" target="_blank"
                                                         style="display: inline-block;"><img
                                                        src="{$baseUrl}assets/images/emails/youtube.png" alt=""
                                                        style="width: 30px; height: 30px; border: none;"></a></span>
                                            </th>
                                            <th style="padding-left: 8px; padding-right: 8px;">
                                                <span><a href="{$contacts->link_ok}" target="_blank"
                                                         style="display: inline-block;"><img
                                                        src="{$baseUrl}assets/images/emails/ok.png" alt=""
                                                        style="width: 30px; height: 30px; border: none;"></a></span>
                                            </th>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- Footer -->
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0"
                               style="width: 100%; text-align: center; color: #E8ECED; font-size: 13px; background-color: white; padding: 20px 5px 0; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;">
                            <tr>
                                <td style="padding-bottom: 20px; color: #A0A0A0; font-size: 13px; font-family: 'Roboto', sans-serif;">
                                    Вы получили это сообщение, потому что оставили вопрос на сайте #SITE_NAME#. Оно
                                    сформировано роботом автоматически, пожалуйста, не отвечайте на него
                                </td>
                            </tr>
                            <tr style="font-family: Arial, sans-serif; font-size: 14px; line-height: 16px; color: #472527;">
                                <td>© <?=date("Y") ?>#SITE_NAME#</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
